<head>
  <script>
    var threshold = 0.5;
    var nodes = [];
    var epsilon = 0.0001;
    function readFile(){
      console.log('We are running');
        var file = document.getElementById('file').files[0];

        var reader = new FileReader();

        //file has been loaded, now we manipulate it and trigger next event
        reader.onload = function(progressEvent){
            // Split the text to lines
            var imageInput = this.result.split(',');
            if(nodes.length > 0){
              for (i = 0; i < imageInput.length -1; i++){
                nodes[i].nodeInput = imageInput[i];
              };
            }else{
              for (i = 0; i < imageInput.length -1; i++){
                var weight = Math.random();
                if(weight > 0) weight = weight / 20;
                nodes.push(new node(imageInput[i],weight));
              };
            }

            document.getElementById('notes').innerHTML = 'File read and initialized </br>';
        };
        reader.readAsText(file);

    }
    function calc(){
      var sum = 0;

      for(i = 0; i < nodes.length; i++) {
        sum += nodes[i].nodeInput * nodes[i].weight;
        //document.getElementById('notes').innerHTML += 'node number: '+i+'input is: '+nodes[i].nodeInput+'weight is: '+nodes[i].weight+'</br>';
      };

      if(sum < 0.5) {
        document.getElementById('output').innerHTML = 'sum is: '+sum+'. Ergo, result is 0';
        return 0;
      } else if(sum >= 0.5) {
        document.getElementById('output').innerHTML = 'sum is: '+sum+'. Ergo, result is 1';
        return 1;
      }
    }
    function guessAndTrain(){
      var guess = calc();
      train(guess);
    }
    function train(guess){
      var expected = Number(document.getElementById('expected').value);
      error = expected - guess;
      document.getElementById('notes').innerHTML = 'Error is: '+error+'</br>';
      for(i = 0; i < nodes.length;i++){
        nodes[i].weight = nodes[i].weight + epsilon * error * nodes[i].nodeInput;
      }
      document.getElementById('notes').innerHTML += 'Perceptron has been trained, try again </br>';
    }

    function node(nodeInput,weight){
      this.weight = weight;
      this.nodeInput = Number(nodeInput);
    }
  </script>
</head>
<body>

  <input type="file" name="file" id="file">
  <button onClick="readFile()">Load file</button>
  Expected result:
  <input  id="expected" type="number" value="0" min="0" max="1">
  <button onClick="guessAndTrain()">Guess and train</button>
  <button onClick="calc()">Just guess</button>

  <div id="output"></div>
  <div id="notes"></div>
</body>
